body,
html {
    scroll-behavior: smooth;
}
.top-bar .social a,
.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.top-bar .social a:first-child,
.top-bar .text {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.hero,
.hero1 {
    margin-bottom: 45px;
    overflow: hidden;
}
.back-to-top,
.list-group-item.list-group-item-action.list-group-item-primary,
.section-header h2,
.top-bar .text,
.vd {
    text-align: center;
}
.hero .hero-text .btn,
.top-bar .text h2 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}
.ac-input,
.back-to-top,
.page-header a:last-child::before {
    display: none;
}

.col-form-label,
.headidea span,
.share,
.vc,
.wiggle {
    float: right;
}

body {
    background: #fff;
}
 h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d2434;
    direction: ltr;
    text-transform: capitalize;
}
p {
    margin: 0;
    direction: ltr;
}
a {
    color: #454545;
    transition: 0.3s;
    direction: ltr;
}
a:active,
a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
}
.btn:focus,
.form-control:focus {
    box-shadow: none;
}
.container-fluid {
    max-width: 1366px;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
}
.back-to-top {
    position: fixed;
    background: #ff95d8;
    width: 44px;
    height: 44px;
    line-height: 1;
    font-size: 22px;
    right: 20px;
    bottom: 7rem;
    transition: background 0.5s;
    z-index: 9;
}
.navbar,
.top-bar {
    position: relative;
}
.back-to-top:hover,
.top-bar {
    background: #1d2434;
}
.back-to-top:hover i,
.blog .blog-item a.btn:hover,
.footer .copyright p a:hover,
.text a {
    color: #ff95d8;
}
.back-to-top i {
    color: #1d2434;
    padding-top: 10px;
}
.top-bar {
    height: 60px;
}
.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    padding: 0 10px;
}
.top-bar .text h2 {
    color: #eee;
    margin: 0;
}
.top-bar .text p {
    color: #eee;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}
.top-bar .social {
    display: flex;
    height: 60px;
    font-size: 0;
    justify-content: flex-end;
}
.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #fff;
}
.top-bar .social a:hover {
    color: #ff95d8;
    background: #fff;
}
@media (min-width: 720px) {
    .pageregister {
        background: #ff95d8;
        margin-top: 5rem;
    }
    .navbar .navbar-brand img {
        position: absolute;
        top: -15px;
        width: 7%;
    }
    .special {
        width: 20% !important;
    }
}
.hero,
.hero .hero-text {
    height: 23rem;
}
.navbar {
    transition: 0.5s;
    z-index: 999;
}
.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar .navbar-brand {
    margin: 0;
    color: #fff;
    font-size: 45px;
    line-height: 0;
    font-weight: 600;
}
.navbar .navbar-brand span {
    font-weight: 800;
}
.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 118px;
    position: absolute;
    top: 1px;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    padding: 10px 10px 8px;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    background: rgba(256, 256, 256, 0.1);
    transition: none;
}
.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}
@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
    .single table td {
        padding: 1rem;
    }
    .hero .btn-play {
        position: absolute;
        z-index: 1;
        top: 77% !important;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: content-box;
        display: block;
        width: 32px;
        height: 44px;
        border-radius: 50%;
        border: none;
        outline: 0;
        padding: 18px 20px 18px 28px;
    }
    .navbar {
        position: absolute;
        width: 100%;
        top: 102px;
        padding: 20px 60px;
        background: rgba(0, 0, 0, 0.5) !important;
        z-index: 9;
        direction: ltr;
    }
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #1d2434 !important;
    }
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
.hero,
.hero .hero-image,
.hero .hero-text,
.hero1 {
    position: relative;
}
.hero {
    width: 100%;
}
.hero1 {
    width: 100%;
    height: 6rem;
    background: #ff95d8;
}
.hero .container-fluid {
    padding: 0;
}
.hero .hero-image {
    text-align: right;
}
.hero .hero-image img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 4rem 15rem 11rem 7rem;
}
.hero .hero-text {
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.hero .hero-text h1 {
    color: #1d2434;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 1rem;
    font-size: 2rem;
}
.hero .hero-text p {
    color: #1d2434;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
    direction: ltr;
    line-height: 2.2rem;
}
.hero .hero-text .btn {
    padding: 15px 30px;
    color: #1d2434;
    background: 0 0;
    border: 2px solid #1d2434;
    border-radius: 0;
    transition: 0.3s;
}
.about .about-text a.btn:hover,
.blog .pagination .page-item.active .page-link,
.blog .pagination .page-link:hover,
.footer .footer-newsletter .btn:hover,
.hero .hero-text .btn:hover {
    color: #ff95d8;
    background: #1d2434;
}
.hero .btn-play {
    position: absolute;
    z-index: 1;
    top: 88%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: 0;
    padding: 18px 20px 18px 28px;
}
.hero .btn-play:after,
.hero .btn-play:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    content: "";
    top: 50%;
}
.hero .btn-play:before {
    z-index: 0;
    background: #1d2434;
    animation: 1.5s ease-out infinite pulse-border;
}
.hero .btn-play:after {
    z-index: 1;
    background: #ff01dc;
    transition: 0.2s;
}
#comments,
.about .about-img::before {
    background-attachment: fixed;
    background-size: cover;
}
.hero .btn-play:hover:after {
    background-color: darken(#1d2434, 10%);
}
.hero .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}
.hero .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto;
}
#videoModal .modal-body {
    position: relative;
    padding: 0;
}
#videoModal .close {
    position: absolute;
    right: 0;
    top: -12px;
    z-index: 999;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    opacity: 1;
}
@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #1d2434 !important;
    }
    .navbar a.nav-link {
        padding: 5px;
    }
    .navbar .dropdown-menu {
        box-shadow: none;
    }
    .hero .hero-text {
        padding-left: 15px;
    }
    .hero .hero-text h1 {
        font-size: 35px;
    }
    .hero .hero-text p {
        font-size: 16px;
    }
    .hero .hero-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}
@media (max-width: 900.98px) {
    .hero .hero-text h1 {
        font-size: 30px;
        font-weight: 600;
    }
    .page-header img,
    .single img {
        width: 100% !important;
    }
    .special {
        left: 27px !important;
        bottom: 10px !important;
        width: 74% !important;
        z-index: 999999 !important;
    }
    .footer ul {
        list-style: none;
        padding-right: 3rem !important;
    }
    .hero .hero-text p {
        font-size: 14px;
    }
    .hero .hero-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0;
    }
    .hero .hero-text {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-top: 7rem;
    }
}
@media (max-width: 575.98px) {
    .hero .hero-text h1 {
        font-size: 1.4rem;
        color: #141414;
        border-radius: 12px;
        font-weight: 900;
    }
    .hero .hero-text p {
        font-size: 1rem;
        padding: 0 4px;
    }
    .hero .hero-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
}
.page-header {
    position: relative;
    margin-bottom: 10px;
    padding: 150px 0 0;
    text-align: center;
    background: #ff95d8;
}
.page-header h2 {
    position: relative;
    color: #1d2434;
    font-size: 2rem;
    font-weight: 700;
}
.page-header a {
    position: relative;
    font-size: 22px;
    color: #1d2434;
}
.commentbtn:hover,
.page-header a:hover {
    color: #fff;
}
.page-header a::before {
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #1d2434;
}
.section-header {
    position: relative;
    margin: 0 auto 45px;
}
.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    direction: ltr;
}
.section-header h2 {
    margin: 0 0 2rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
}
.about,
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0;
}
.price,
.service {
    padding: 45px 0 15px;
}
.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}
.about .about-img {
    position: relative;
    height: 100%;
    margin: 60px 0 0 60px;
}
.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.about .about-img::before {
    position: absolute;
    content: "";
    top: -60px;
    right: 60px;
    bottom: 60px;
    left: -60px;
    background-color: red;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0019'/%3E%3Cstop offset='1' stop-color='%23ce00f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0031'/%3E%3Cstop offset='1' stop-color='%23b000e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff004a'/%3E%3Cstop offset='1' stop-color='%239400da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0063'/%3E%3Cstop offset='1' stop-color='%237a00ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff007c'/%3E%3Cstop offset='1' stop-color='%236200c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0094'/%3E%3Cstop offset='1' stop-color='%234d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00ad'/%3E%3Cstop offset='1' stop-color='%233900a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00c6'/%3E%3Cstop offset='1' stop-color='%2328009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00df'/%3E%3Cstop offset='1' stop-color='%23180090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00f7'/%3E%3Cstop offset='1' stop-color='%230b0083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    z-index: 0;
}
.about .about-img::after {
    position: absolute;
    content: "";
    top: -30px;
    right: 30px;
    bottom: 30px;
    left: -30px;
    background: 0 0;
    border: 1px solid #fff;
    z-index: 2;
}
.about .about-text p {
    font-size: 16px;
    text-align: center;
    direction: ltr;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}
.about .about-text a.btn {
    position: relative;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1d2434;
    border: 2px solid #1d2434;
    border-radius: 0;
    background: 0 0;
    transition: 0.3s;
    margin: 0 auto;
    display: block;
}
@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
        padding-top: 1rem;
    }
    .page-header a {
        font-size: 12px;
    }
    .single {
        position: relative;
        width: 100%;
        direction: ltr;
        text-align: right;
        line-height: 2rem;
        padding: 1.1rem !important;
    }
    #cart-payment#name,
    #cart-payment#phone {
        width: 70%;
    }
    .section-header h2 {
        font-size: 1.1rem;
        text-align: center;
    }
    .about-text h2 {
        font-size: 1.3rem;
        text-align: center;
    }
    .testimonial h2,
    .testimonial p {
        text-align: right;
    }
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
    .service .service-item img,
    .team .team-img img {
        width: 70% !important;
        margin: 0 auto;
        display: block;
    }
}
.service {
    position: relative;
    width: 100%;
}
.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(29, 36, 52, 0.04);
}
.blog .blog-img,
.footer .footer-newsletter .form,
.portfolio .portfolio-wrap,
.service .service-img,
.testimonial .testimonials-carousel {
    position: relative;
    width: 100%;
}
.portfolio img,
.service .service-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog .blog-img::after,
.service .service-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: 0 0;
    border: 1px solid #fff;
    z-index: 1;
}
#comments .btn,
.price .price-item,
.price .price-item:hover,
.team .team-item:hover .team-text {
    background: #ff95d8;
}
.service .service-item h3 {
    margin: 0;
    padding: 25px 15px 15px;
    font-size: 1.2rem;
    font-weight: 700;
}
.service .service-item p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5rem;
    padding: 10px;
}
.price .price-item,
.single .list-group,
.single .table,
.team .team-item {
    margin-bottom: 30px;
}
.service .service-item a.btn,
.team a.btn {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1d2434;
    border: 2px solid #1d2434;
    border-radius: 0;
    background: 0 0;
    transition: 0.3s;
    width: 100%;
}
.service .service-item:hover a.btn {
    color: #ff95d8;
    background: #1d2434;
    border-color: #1d2434;
}
.price {
    position: relative;
    width: 100%;
    direction: ltr;
}
.price .price-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    transition: 0.3s;
    direction: ltr;
}
.price .price-img::after,
.team .team-img::after {
    background: 0 0;
    position: absolute;
    z-index: 1;
    content: "";
}
.price .price-img {
    position: relative;
    width: 100px;
}
.price .price-img img,
.single video,
.team .team-img img {
    width: 100%;
}
.price .price-img::after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #fff;
}
.price .price-text {
    position: relative;
    padding: 10px 15px;
    width: calc(100% - 100px);
    overflow: hidden;
}
.price .price-text h2 {
    position: relative;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: right;
}
.price .price-text h3 {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 900;
    color: #333;
    text-align: right;
}
.team {
    position: relative;
    width: 100%;
    direction: ltr;
    padding: 15px 10px;
}

.team .team-img::after {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 1px solid #f6f6f7;
    transition: 0.3s;
}
.team .team-text {
    position: relative;
    margin: -60px 15px 0;
    padding: 30px 15px;
    text-align: center;
    background: #ff95d8;
    transition: 0.3s;
    z-index: 2;
}
.team .team-text h2 {
    font-size: 1.6rem;
    font-weight: 600;
}
.team .team-text p {
    color: #333;
    direction: ltr;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.portfolio .portfolio-wrap:hover a::after,
.team .team-item:hover .team-img::after {
    border-color: #ff95d8;
}
.testimonial {
    position: relative;
    margin: 45px 0;
    padding: 120px 0;
}
.testimonial .container {
    max-width: 700px;
}
.testimonial .testimonial-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.testimonial .testimonial-item img {
    width: 168px;
    border-radius: 60px;
    margin: 0 auto 25px;
}
.testimonial .testimonial-item p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: right;
    direction: ltr;
}
.testimonial .testimonial-item h2 {
    color: #ff95d8;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1rem;
    text-align: right;
}
.testimonial .testimonial-item h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 1rem;
    text-align: right;
    display: inline-block;
    width: 100%;
}
.testimonial .owl-nav {
    width: 135px;
    margin-top: 45px;
    display: flex;
}
.testimonial .owl-nav .owl-next,
.testimonial .owl-nav .owl-prev {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #ff95d8;
    font-size: 36px;
    transition: 0.3s;
}
.testimonial .owl-nav .owl-next {
    margin-left: 15px;
}
.blog .owl-nav .owl-next:hover,
.blog .owl-nav .owl-prev:hover,
.contact .contact-form .btn:hover,
.testimonial .owl-nav .owl-next:hover,
.testimonial .owl-nav .owl-prev:hover {
    color: #1d2434;
    background: #ff95d8;
}
.blog .blog-carousel {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    right: -15px;
}
.blog .blog-item {
    position: relative;
    margin: 0 15px;
    background: rgba(29, 36, 52, 0.04);
    overflow: hidden;
    direction: ltr;
    text-align: right;
}
.blog .blog-page .blog-item {
    margin: 0 0 30px;
}
.blog .blog-img img {
    width: 61%;
    margin: 0 auto;
}
.blog .blog-meta {
    position: relative;
    padding: 20px 30px 12px;
}
.blog .blog-meta * {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #797979;
}
.blog .blog-meta i {
    margin: 0 2px 0 10px;
}
.blog .blog-meta i:first-child {
    margin-left: 0;
}
.blog .blog-text {
    position: relative;
    padding: 0 30px 30px;
}
.blog .blog-text h2 {
    font-size: 18px;
    font-weight: 600;
}
.blog .blog-text p {
    margin-bottom: 10px;
}
.blog .blog-item a.btn {
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #1d2434;
    transition: 0.3s;
}
.blog .blog-item a.btn i {
    margin-left: 5px;
}
.blog .owl-nav {
    width: 150px;
    margin: 32px auto 0;
    display: flex;
}
.blog .owl-nav .owl-next,
.blog .owl-nav .owl-prev {
    margin-left: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff95d8;
    background: #1d2434;
    font-size: 22px;
    transition: 0.3s;
}
.blog .pagination .page-link {
    color: #1d2434;
    border-radius: 0;
    border-color: #1d2434;
}
.blog .pagination .disabled .page-link,
.footer .footer-social a:hover i {
    color: #999;
}
.portfolio {
    position: relative;
    padding: 45px 0 15px;
    background: #fff;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 25px;
    list-style: none;
    font-size: 0;
    text-align: center;
}
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    color: #1d2434;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    background: 0 0;
    border: 2px solid #1d2434;
    transition: 0.3s;
}
.contact-form #category,
.portfolio #portfolio-flters li.filter-active,
.portfolio #portfolio-flters li:hover {
    background: #1d2434;
    color: #ff95d8;
}
.portfolio .portfolio-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.3s;
}
.portfolio .portfolio-item:hover {
    margin-top: -10px;
}
.portfolio .portfolio-wrap a::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background: 0 0;
    border: 1px solid #f6f6f7;
    transition: 0.3s;
    z-index: 1;
}
#comments,
#sidebar {
    background-color: #fff;
}
.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #1d2434;
    padding: 25px 10px;
}

.contact .contact-form,
.footer {
    background: #1d2434;
    position: relative;
    direction: ltr;
}
.contact .contact-form {
    padding: 90px 0 90px 45px;
}
.contact .contact-form input {
    padding: 15px 0;
    background: 0 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ff95d8;
}
.contact .contact-form textarea {
    height: 90px;
    padding: 15px 0;
    background: 0 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ff95d8;
}
.contact .contact-form .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ff95d8;
    background: 0 0;
    border: 2px solid #ff95d8;
    border-radius: 0;
    transition: 0.3s;
}
.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    direction: ltr;
}
.single {
    position: relative;
    direction: ltr;
    text-align: right;
    line-height: 2rem;
}
.single img {
    margin: 0 auto 2rem;
    display: block;
    height: auto !important;
}
.chip img,
.logo img {
    height: auto;
    opacity: 0.8;
}
.single h2,
.single h3,
.single h4 {
    margin-bottom: 1rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.footer-contact p,
.hero-text h2,
.hero-text li,
.lists th {
    line-height: 2rem;
}
.single h3 {
    color: #5e5050;
    font-size: 1.5rem;
}
.single .ul-group {
    padding: 0;
    list-style: none;
}
.single .ul-group li {
    margin-left: 2px;
}
.single .ul-group li::before {
    position: relative;
    content: "\f0da";
    font-family: fontawesome;
    font-weight: 900;
    margin-right: 10px;
}
.single .ol-group {
    padding-left: 18px;
}
.footer {
    margin-top: 45px;
    text-align: right;
    padding: 90px;
    border-top: 34px solid #ff95d8;
}
.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #999;
}
.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #ff95d8;
}
.footer .footer-link a {
    display: block;
    margin-bottom: 19px;
    color: #999;
    transition: 0.3s;
}
.footer .footer-link a:hover {
    color: #ff95d8;
    letter-spacing: 1px;
}
.footer .footer-contact p i {
    width: 25px;
}
.footer .footer-social {
    position: relative;
    margin-top: 20px;
}
.footer .footer-social a {
    display: inline-block;
}
.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #ff95d8;
}
.footer .footer-social a:last-child i {
    margin: 0;
}
.footer .footer-newsletter input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 0;
}
.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1d2434;
    background: 0 0;
    border-radius: 0;
    border: 2px solid #1d2434;
    transition: 0.3s;
}
.a-glow {
    -webkit-border-radius: 5px;
}
.footer .copyright {
    padding: 0 30px;
}
.footer .copyright .row {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer .copyright p {
    margin: 0;
    color: #454545;
}
#contactForm input,
#contactForm textarea,
.footer .copyright .col-md-6:last-child p,
form input,
form textarea {
    text-align: right;
}
.footer .copyright p a {
    color: #1d2434;
    font-weight: 700;
}
@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: 0 0;
    }
    .contact .contact-form {
        padding: 0 0 90px;
    }
    .testimonial .testimonial-item h2 {
        color: #ff95d8;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: right;
        width: 100%;
    }
    .footer .copyright .col-md-6:last-child p,
    .footer .copyright p {
        margin: 5px 0;
        text-align: center;
    }
    .footer {
        padding: 30px;
    }
    .page-header {
        padding: 110px 0 50px;
    }
    .navbar .navbar-brand img {
        max-width: 100%;
        max-height: 118px;
        position: absolute;
        top: 1px;
        left: 0;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        padding: 10px 10px 8px;
        color: #fff;
        text-align: right;
    }
}
.a-glow {
    margin: 0 auto;
}
.button-contact,
.button-whatsapp {
    color: #fff;
    border-radius: 60px;
    width: auto;
    transition: max-width 0.5s;
    z-index: 9999999;
    position: fixed;
    overflow: hidden;
    text-decoration: none;
}
.hero-text ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.hero-text li {
    list-style: none;
    text-align: center;
    color: #000;
    padding: 0 1rem;
    font-size: 0.96rem;
    text-shadow: 2px 2px #f5ebeb;
}
.testimonial .section-header h2,
.testimonial .section-header p {
    color: #fff;
    text-align: center;
}
.testimonial .btn {
    color: #fff;
    background: red;
}
.about-text h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem;
}
.footer ul,
.newslist {
    list-style: none;
}
.hero-text li:nth-child(2) {
    color: #910e0e;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-weight: 900;
}
.button-whatsapp {
    align-items: center;
    right: -31px;
    bottom: 2px;
}
.button-whatsapp img {
    width: 55%;
}
.button-contact {
    align-items: center;
    right: -20px;
    bottom: 48px;
}
.button-contact img {
    width: 58%;
}
.single ul li::before {
    position: relative;
    font-family: fontawesome;
    font-weight: 900;
    margin-left: 10px;
}
#sendMessageButton,
.single ul li {
    margin-top: 1rem;
}
.single table {
    text-align: center;
    border: none;
    color: #e10d93;
    background: #fdd4ee;
    border-radius: 54px;
    width: 100% !important;
}
::-webkit-scrollbar {
    width: 30px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: red;
}
#sidebar {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 15px;
    border-top: 10px solid #ff95d8;
    border-bottom: 10px solid #1d2434;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.15), -10px 0 15px -5px rgba(0, 0, 0, 0.15);
}
#sidebar h2 {
    color: #39496f;
    margin: 0 0 12px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ff95d8;
    font-size: 1rem;
}
#sidebar p {
    color: #555;
    margin: 0 0 10px;
    padding: 0;
}
.moreinfo {
    color: #9e2ea4;
    font-size: 0.8rem;
}
#headingOne {
    text-align: center;
    padding: 0;
}
.heading-3 a {
    color: #f763c5;
}
#collapseOne,
.info {
    text-align: left;
    line-height: 3rem;
    font-size: 1.3rem;
}
#moredesc {
    background: inherit;
    border: inherit;
}
#accordion1 a:hover,
#comments h2,
#comments p {
    color: #000;
}
#sidebar a::before {
    content: "\f02d";
    font-family: fontawesome;
    margin-left: 7px;
}
hero-text .small,
small {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto 2rem;
    letter-spacing: 3px;
    color: #890277;
    border-top: 3px dotted #faf2f2;
}
.hero-text h2 {
    font-size: 0.97rem;
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
}
.hero-text img {
    width: 32%;
    margin: 0 auto;
}
.footer-contact img {
    margin-top: 1rem;
    background: #fff;
}
#sidebar a {
    margin-bottom: -1rem;
    display: block;
    font-size: 0.8rem;
}
#register a,
#register label,
#register p {
    font-size: 1rem;
}
.card-basic,
.card-premium,
.card-standard {
    margin: 0;
    padding: 0 0 0.5rem;
    background: #fff;
    color: #444;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
    overflow: hidden;
    transition: ease-in-out;
}
.card-basic:hover,
.card-premium:hover,
.card-standard:hover {
    transform: scale(1.02);
}
.card-header {
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 1rem;
    color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
.btn-basic,
.header-basic {
    background: linear-gradient(135deg, #07e, #06c766);
}
.btn-standard,
.header-standard {
    background: linear-gradient(135deg, #b202c9, #cf087c);
}
.btn-premium,
.header-premium {
    background: linear-gradient(135deg, #eea300, #ee5700);
}
.card-body {
    padding: 1.5rem 0;
}
.card-body h2 {
    font-size: 2rem;
    font-weight: 700;
}
.card-element-container {
    color: #444;
    list-style: none;
}
.discount {
    font-size: 1.5rem !important;
    color: #fff !important;
    margin-top: 1rem !important;
}
#category,
.modal-dialog,
.pagination,
label {
    direction: ltr;
}
.commenthead {
    direction: ltr;
    padding: 0 31px 20px 89px;
    color: #d6bd76;
    background: #fccbeb;
    margin: 12px 0;
    border-top-left-radius: 102px;
}
.commentcontain,
.first-head {
    margin-bottom: 19px;
    direction: ltr;
}
.comment-body {
    padding: 29px;
    font-size: 14px;
    line-height: 25px;
    background: #f9e9f4;
    border: 1px solid #f763c5;
    color: #000;
}
.circle,
.ring {
    border-radius: 50%;
}
.commentcontain {
    max-width: 1584px !important;
    text-align: right;
}
.headidea {
    background: #f763c5;
}
.headidea span {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #fff !important;
}
.commenter-btn {
    background: #f60081 !important;
    padding: 10px !important;
    color: #e3c476 !important;
}
.modalfooter,
.modalhead {
    background: #f60081;
}
.ac-sub-text p,
.modalcontent {
    background: #fff;
}
.modal-title {
    color: #fff;
    font-weight: 900;
}
.modalfooter {
    padding: 15px;
}
.modalcontent .col-form-label {
    color: #000 !important;
    font-size: 15px;
}
.modalcontent input,
.modalcontent textarea {
    color: #5d6974 !important;
}
.modal.show .modal-dialog {
    transform: translate(0, 20%);
}
.first-head {
    text-align: center;
    padding-top: 33px;
    color: #f60081;
    border-bottom: 3px solid #f60081;
    padding-bottom: 27px;
    font-size: 1.7em;
    font-weight: 700;
}
.commentbtn {
    transform: translate(-26%, 32%);
    -webkit-transform: translate(-26%, 32%);
    -moz-transform: translate(-26%, 32%);
    -ms-transform: translate(-26%, 32%);
    -o-transform: translate(-26%, 32%);
    color: #fff;
    padding: 15px 34px;
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 20px 50px #e7a8d2;
    overflow: hidden;
    background: #f60081;
    transition: 0.5s;
}
.commentbtn:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}
.commentbtn span:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #e19646, #d6bd76);
    animation: 2s linear infinite animate1;
    -webkit-animation: 2s linear infinite animate1;
}
@keyframes animate1 {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}
.commentbtn span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #665b34, #8e7e4c);
    animation: 2s linear 1s infinite animate2;
    -webkit-animation: 2s linear infinite animate2;
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}
.commentbtn span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #665b34, #8e7e4c);
    animation: 2s linear infinite animate3;
    -webkit-animation: 2s linear infinite animate3;
}
@keyframes animate3 {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}
.commentbtn span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #5b4802, #f1b705);
    animation: 2s linear 1s infinite animate4;
    -webkit-animation: 2s linear infinite animate4;
}
@keyframes animate4 {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}
.card-group,
.circles {
    position: absolute;
    transform: translate(-50%, -50%);
}
.btn.btn-primary {
    margin: 0 auto;
    float: right;
}
.form-control::placeholder {
    color: #828da5 !important;
    opacity: 1;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    direction: ltr;
    text-align: right;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #aeb5bc;
}
.swal-text {
    text-align: center;
    font-size: 1.3rem;
    direction: ltr;
}
#accordionc,
.checkbox,
.courses {
    text-align: right;
}
.circle {
    position: absolute;
    background: radial-gradient(#006db3, #29b6f6);
}
.circles {
    height: 270px;
    width: 450px;
    top: 50%;
    left: 50%;
}
.circle-1 {
    height: 180px;
    width: 180px;
    top: -50px;
    left: -60px;
}
.circle-2 {
    height: 200px;
    width: 200px;
    bottom: -90px;
    right: -90px;
    opacity: 0.8;
}
.card-group {
    top: 50%;
    left: 50%;
}
.card {
    position: relative;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.ring,
.ring::after {
    background: 0 0;
    box-sizing: border-box;
}
.chip img,
.from,
.logo img,
.name,
.number,
.ring,
.to {
    position: absolute;
}
.logo img {
    top: 35px;
    right: 40px;
    width: 80px;
}
.chip img {
    top: 120px;
    left: 40px;
    width: 50px;
}
.from,
.name,
.number,
.to {
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: #000;
}
.number {
    left: 40px;
    bottom: 65px;
    font-family: Nunito, sans-serif;
}
.name {
    font-size: 0.9rem;
    left: 40px;
    bottom: 35px;
}
.from,
.to {
    font-size: 0.5rem;
    bottom: 35px;
}
.from {
    right: 110px;
}
.to {
    right: 40px;
}
.ring {
    height: 500px;
    width: 500px;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: -250px;
    right: -250px;
}
.ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -110px;
}
#copy {
    background: red;
    width: 12%;
    color: #fff;
    padding: 7px;
    cursor: pointer;
}
.service-img .card {
    height: auto !important;
    width: auto !important;
}
#accordionc a:hover {
    color: red;
}
#accordionc {
    direction: ltr;
}
#courselist li a {
    color: #fff;
    font-size: 0.98rem;
}
.card-basic,
.card-premium,
.card-standard strong {
    font-size: 1.3rem;
}
@keyframes gradient {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
.checkbox {
    width: 100%;
    display: block;
}
.checkbox[type="checkbox"]:checked,
.checkbox[type="checkbox"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}
.checkbox[type="checkbox"] + label {
    position: relative;
    padding-right: 34px;
    cursor: pointer;
    display: inline-block;
    height: 9px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    font-size: 1rem;
}
.checkbox[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 2px;
    transition: 0.2s;
}
.checkbox[type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: #999;
}
.checkbox[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    background-color: transparent;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ff95d8;
    border-bottom: 2px solid #ff95d8;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.checkbox[type="checkbox"]:checked:disabled + label:before {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.courses {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: #ff95d8;
    margin-bottom: 14px;
}
.ac-sub-text p {
    color: #ff1213;
    font-size: 0.88rem;
    padding: 8px;
    border-radius: 8px;
}
.ac-sub-text a {
    color: #fa10a4;
}
.btn.btn-primary.btn-md {
    width: 100%;
    height: 3em;
    font-size: 16px;
}
.ac-label {
    font-weight: 700;
    position: relative;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    display: block;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.15s ease-in-out;
}
#menu,
.special {
    position: fixed;
}
.ac-input:checked + .ac-label:after,
.ac-label:after {
    content: "+";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    background-color: #e5e5e5;
    transition: background-color 0.15s ease-in-out;
}
.vc:after,
.vc:before {
    width: 0;
    position: absolute;
    content: "";
    right: -23px;
}
.ac-input:checked + .ac-label:after,
.ac-label:hover:after {
    background-color: #b5b5b5;
}
.ac-input:checked + .ac-label:after {
    content: "-";
}
.ac-sub-text,
.ac-text {
    opacity: 0;
    height: 0;
    margin-bottom: 0.5em;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}
.ac-input:checked ~ .ac-text,
.ac-sub .ac-input:checked ~ .ac-sub-text {
    opacity: 1;
    height: auto;
}
.ac-sub .ac-label {
    background: 0 0;
    font-weight: 600;
    padding: 0.5em 2em;
    margin-bottom: 0;
    font-size: 0.9rem;
    color: #6b6861;
}
.ac-sub .ac-label:checked {
    background: 0 0;
    border-bottom: 1px solid #f5f5f5;
}
.ac-sub .ac-input:checked + .ac-label:after,
.ac-sub .ac-label:after {
    left: 0;
    background: 0 0;
}
.ac-sub .ac-input:checked + label,
.ac-sub .ac-label:hover {
    background: 0 0;
}
.ac-sub-text {
    padding: 0 1em 0 2em;
}
.container.register {
    direction: ltr;
    text-align: right;
}
#fh5co-main {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#fh5co-main .fh5co-narrow-content {
    position: relative;
    width: 96%;
    margin: 0 auto;
    padding: 2em 0;
}
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background: 0 0;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    height: 54px !important;
    font-size: 18px;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0;
    -ms-border-radius: 0px;
    border-radius: 0 !important;
    transition: 0.5s !important;
}
#message {
    height: 130px !important;
}
.btn.btn-md {
    padding: 10px 25px !important;
}
.btn-primary {
    background: #da1212 !important;
    color: #fff !important;
    border: 2px solid #da1212 !important;
    border-radius: 0 !important;
}
.desc,
.special {
    background: #fff;
}
#register label {
    color: #ff95d8;
}
#register a {
    color: red;
    background: pink;
}
.desc {
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 7px;
}
.navbar-brand img {
    width: 24%;
    padding: 0;
    margin: 0;
}
.ac-label {
    color: #a7a74d !important;
    font-size: 0.88rem !important;
}
.special {
    letter-spacing: 4px;
    bottom: 62px;
    right: 100px;
    padding: 5px;
    border-radius: 18px;
    z-index: 998;
    border: 4px solid #f60081;
    width: 94%;
}
.page-link,
.vc {
    position: relative;
}
.yalda {
    letter-spacing: 0;
    text-align: center;
    direction: ltr;
    background: red;
    margin: 0 auto;
    display: block;
    color: #fff !important;
    padding: 10px;
    line-height: 24px;
}
#sendComment input,
#sendComment textarea {
    border: 1px solid #e74fe5 !important;
    border-radius: 4rem !important;
}
.center {
    display: flex;
    justify-content: Center;
    align-items: Center;
    flex-direction: column;
    width: 100%;
}
.a-glow,
.a-glow:hover {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    text-align: center;
    color: #fff;
}
.center a:focus {
    outline: 0;
}
.a-glow {
    background-color: #000;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    -webkit-animation: 1.5s infinite glowing;
    -moz-animation: 1.5s infinite glowing;
    -o-animation: 1.5s infinite glowing;
    animation: 1.5s infinite glowing;
    font-size: 15px;
    transition: 0.57s;
    line-height: 3rem;
}
.a-glow:hover {
    background-color: #004a7f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    -webkit-animation: 1.5s infinite glowing;
    -moz-animation: 1.5s infinite glowing;
    -o-animation: 1.5s infinite glowing;
    animation: 1.5s infinite glowing;
}
@-webkit-keyframes glowing {
    0% {
        background-color: #ff00dc;
        -webkit-box-shadow: 0 0 3px #c409aa;
    }
    50% {
        background-color: #f431db;
        -webkit-box-shadow: 0 0 40px #f931f7;
    }
    100% {
        background-color: #b000b2;
        -webkit-box-shadow: 0 0 3px #b20093;
    }
}
@-moz-keyframes glowing {
    0% {
        background-color: #ff00dc;
        -webkit-box-shadow: 0 0 3px #c409aa;
    }
    50% {
        background-color: #f431db;
        -webkit-box-shadow: 0 0 40px #f931f7;
    }
    100% {
        background-color: #b000b2;
        -webkit-box-shadow: 0 0 3px #b20093;
    }
}
@-o-keyframes glowing {
    0% {
        background-color: #ff00dc;
        -webkit-box-shadow: 0 0 3px #c409aa;
    }
    50% {
        background-color: #f431db;
        -webkit-box-shadow: 0 0 40px #f931f7;
    }
    100% {
        background-color: #b000b2;
        -webkit-box-shadow: 0 0 3px #b20093;
    }
}
@keyframes glowing {
    0% {
        background-color: #ff00dc;
        -webkit-box-shadow: 0 0 3px #c409aa;
    }
    50% {
        background-color: #f431db;
        -webkit-box-shadow: 0 0 40px #f931f7;
    }
    100% {
        background-color: #b000b2;
        -webkit-box-shadow: 0 0 3px #b20093;
    }
}
.wiggle {
    display: block;
    width: 150px;
    height: 150px;
    -webkit-animation: 3s cubic-bezier(0.9, 0.2, 0.2, 0.9) infinite alternate wiggle;
    box-shadow: 10px 10px 1px 0 rgba(0, 0, 0, 0.15);
}
.wiggle:hover {
    -webkit-animation: none;
}
.wiggle img {
    border: none !important;
}
.lists th,
.newsli {
    border: 1px solid #000;
}
.short-animate {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.long-animate {
    -webkit-transition: 0.5s ease-in-out 0.5s;
    -moz-transition: 0.5s ease-in-out 0.5s;
    -ms-transition: 0.5s ease-in-out 0.5s;
    -o-transition: 0.5s ease-in-out 0.5s;
    transition: 0.5s ease-in-out 0.5s;
}
#menu {
    width: 100%;
    z-index: 99999;
    background: pink !important;
}
.lists th {
    background: pink;
    text-align: center;
    padding: 7px;
}
.lists .a-glow {
    font-size: 0.71rem;
    line-height: 1.5rem;
}
.head1 {
    text-align: right;
    font-weight: 700;
    padding-top: 2rem;
    font-size: 1.7rem;
}
.backhome,
.newsli,
.video-para {
    text-align: center;
}
.newsli {
    color: #000;
    padding: 45px;
}
.vd video {
    width: 92% !important;
    border-top-left-radius: 50%;
    border-top: 56px solid #fdbde6;
    height: 255px;
}

.video-para {
    font-size: 0.9rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}
.page-link {
    display: block;
    line-height: 1.25;
    color: #f60081 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: pink !important;
    border-color: pink;
}
.backhome {
    width: 100%;
    display: block;
    background: pink;
    padding: 24px 3rem;
}
.attention {
    color: red;
    padding-bottom: 1rem;
    text-align: right;
}
.oncourse,
.share,
.share i,
.vc {
    color: #fff;
}
#phone {
    direction: ltr;
    font-family: tahoma;
    text-align: left;
    margin-bottom: 1rem;
}
#shinetitle,
.row.hello,
.share,
.vc {
    text-align: center;
}
#shinetitle {
    color: #ee14ba;
    font-size: 1.5rem;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(0, 100, 151, 0.8), 0 0 50px rgba(0, 100, 151, 0.8), 0 0 60px rgba(0, 100, 151, 0.5),
        0 0 70px rgba(0, 100, 151, 0.5), 0 0 90px rgba(0, 100, 151, 0.5), 0 0 100px rgba(0, 100, 151, 0.5);
    }
    100% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(55, 255, 255, 0.8), 0 0 20px rgba(50, 100, 151, 0.5), 0 0 30px rgba(50, 100, 151, 0.5), 0 0 40px rgba(50, 100, 151, 0.5),
        0 0 50px rgba(50, 100, 151, 0.5), 0 0 100px rgba(50, 100, 151, 0.5);
    }
}
.share {
    width: 100%;
    padding: 40px;
    line-height: 2rem;
    background: #28af11;
    margin: 3%;
    border-radius: 6rem 6rem 0;
    font-size: 1.1rem;
}
.share i {
    font-size: 3rem;
    margin-top: 2rem;
    transition: 1s;
}
.vc {
    background: #f568b2;
    padding: 3.5px 9px;
    margin-right: 44px;
    font-size: 14px;
    line-height: 27px;
    margin-top: 4px;
}
.vc:after {
    height: 0;
    border: 12.5px solid transparent;
    border-top-color: #fccbeb;
    top: 0;
    border-left-color: #f568b2;
}
.vc:before {
    height: 0;
    border: 13px solid transparent;
    border-bottom-color: #efa8d5;
    top: -1px;
}
.single table td:nth-child(5) {
    background: #000;
    color: #fff;
    border-top-left-radius: 24px;
}
.row.hello {
    padding: 0.5rem;
    direction: ltr;
    background: pink;
    width: 100%;
    font-size: 17px;
}
.oncourse {
    background: #c60695;
    padding: 1rem 1rem 2rem;
    margin-bottom: 0;
    display: inline-block;
    border-radius: 1rem;
}
::placeholder {
    text-align: right;
}
.notactive {
    pointer-events: none;
    cursor: default;
}
.mainpart {
    margin-top: 3rem;
}
.mainimage {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
    width: 35%;
}
.form-control:focus {
    color: #b7c2cd;
}
#comments {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
}
#comments .owl-nav {
    margin-top: 10px;
}
#comments .testimonial-item img {
    width: 86px;
}
#comments .owl-carousel .owl-stage-outer {
    padding-top: 23%;
}
.team h3 {
    font-size: 1.4rem;
}
.blog h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.row.videos {
    margin: 0 !important;
}
.testimonial .testimonial-item p {
    width: 100% !important;
}
@media only screen and (max-width: 800px) {
    .pagination .page-item {
        width: 7% !important;
    }
}
#serviceus .service-item h3 {
    border: 2px solid #1d2434;
}
.page-header h1 {
    font-size: 1.7rem;
    font-weight: 900;
}
.single td {
    padding: 0.5rem;
}
.footer-contact img {
    margin-top: 1rem;
    background: #fff;
    border-radius: 7px;
}
.subnav {
    overflow: hidden;
    float: right;
}

.subnav_content {
    position: absolute;
    top: 3.5rem;
    width: 71%;
    background: #fff;
    /*padding: 1rem;*/
    border-radius: 10px;
    text-align: right;
    line-height: 3rem;
    left: 15px;
    z-index: 1;
    display: none;
    border: 4px solid #f673fd;
}
.title_cateogry {
    width: 100%;
    float: right;
}
.subnav_content a {
    width: 100%;
    float: right;
    display: block;
}

.subnav:hover .subnav_content {
    display: flex;
}
@media only screen and (min-width: 800px) {
    .subnav_content::before {
        position: absolute;
        top: -10px;
        right: 31%;
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0;
        border-left: 0.5em solid transparent;
        border-bottom: 0.5em solid;
        border-right: 0.5em solid transparent;
        color: #f673fd;
    }
}
@media only screen and (max-width: 800px) {
    .subnav_content::before {
        position: absolute;
        top: 177px;
        right: -7%;
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-bottom: 0;
        border-top: 0.5em solid transparent;
        border-left: 0.5em solid;
        border-right: 0.5em transparent;
        color: #f673fd;
    }
    .title_cateogry {
        font-size: 0.68rem;
    }
    .subnav_content a {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}
#comments .owl-carousel .owl-stage-outer {
    padding-top: 0 !important;
}
.footer .footer-link a {
    float: right;
}
.footer-link img {
    background: #fff;
    border-radius: 10px;
}
.footer .footer-link a {
    float: none;
}
.certificate a {
    float: right !important;
}
.footer {
    padding-bottom: 10px;
}
.share {
    border-radius: 6rem 0;
    float: revert;
}
.card-basic,
.card-premium,
.card-standard {
    margin: 0 auto;
}
.page-header img,
.single img {
    border-radius: 61px;
}

.searchform {
    box-sizing: border-box;
    display: flex;
    margin: 19px auto;
}
.searchform input {
    height: 44px;
    width: 18rem;
    border: 1px #ff95d8 solid;
    font-size: 0.8rem;
}
.searchform i {
    color: #fff;
}
.searchform button {
    background-color: #ff95d8;
    height: 44px;
    width: 40px;
    border: 1px transparent solid;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 1s all;
}
.searchform button:hover {
    background-color: #f00;
    width: 40px;
    border: 1px transparent solid;
}
.page-header h1 {
    direction: ltr;
}
@media (max-width: 767.98px) {
    .page-header {
        padding: 50px 0 50px;
    }
}
